@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Underdog&display=swap");

:root{
--headingFont: 'Underdog', cursive;
--bodyFont: 'Quicksand', sans-serif;
}

/* Type Styling */
h1,h2,h3, a{
    font-family: var(--headingFont);
    color:antiquewhite;
    }

    p{
        font-family: var(--bodyFont);
        font-size: 1.2rem;
        color: antiquewhite;
    }
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.25rem;
    color: antiquewhite;
    padding-bottom: 6.25rem;
}
main {

    width: 80vw;
    max-width: 90%;
    margin: auto;

}
a {
    color:  #8d1014;
}
a:hover{
    color: #ce272d;
}
html{
    background: #141416;
}
footer {
    position: fixed;
    height: 6.5rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    margin-bottom: 0rem;
    text-align: center;
    background:#0d0d0d;
}
footer a{
    margin-right: 1rem;
}
footer h3{
    padding-bottom: -2rem;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}
nav.black{
    background: rgba(0,0,0,0.6);
    height: 80px;
    padding: 10px 50px;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 80px;
    transition: .5s;
}
nav.black .logo img{
    height: 60px;
}
nav > ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    float: right;
}
nav > ul > li{
    list-style: none;
    display: inline-block;
}
nav > ul > li > a:hover{
    background: #f00;
    color: #fff;
}
nav > ul > li > a{
    color: #8d1014;
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;   
}
nav.black > ul > li > a{
    color: #fff;
    line-height: 60px;
}

