/* Diagnostic Styling */
* {
    outline: 2px dotted gray;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.25rem;
    color: antiquewhite;
}
a {
    color:  #8d1014;
}
a:hover{
    color: #ce272d;
}
html{
    background: #141416;
}

main {

    width: 800px;
    max-width: 90%;
    margin: auto;

}