---
import BaseLayout from '../layouts/BaseLine.astro';

const pageTitle= "About Paca"
const professions = ['Art','Design','Punk Rock','Development', 'Overall Nerd Stuff']
---

<BaseLayout pageTitle={pageTitle}>

	<h1>All About Paca!</h1>

<img src="../assets/ITSHIM.jpg" alt="Paca">
<style>
  @import"https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Underdog&display=swap";
 img[data-astro-cid-kh7btl4r]{max-width:450px}
</style>
<h2>Hi! I'm Paca </h2>
<h2>I work within</h2>
<ul>
    {
        professions.map( job =>
            <li>{job}</li>
        )
    }
</ul>
<p> I am a (currently contracted) fullstack/web developer who delves into cyber security, audio visual technology, and all things nerdy. 
    Along with such, I engage in various game jams and indie development, while also being a punk rock musician. Outside of my day Job, 
    I enjoy gaming, tattooing, and painting minis!. I am passionate and dedicated, from designing posters to building neural networks. 
    I currently am aiming to work for a local (WA/PDX) Design group, aspiring to give more of my art to the world. 
    I hope to blend the artistic field of design with the technical side of development.</p>   

</BaseLayout>