---
import BaseLayout from '../layouts/BaseLine.astro';

const pageTitle= "About Paca"
const professions = ['Drawer','Designer','Punk Rocker', 'Overall Nerd']
---

<BaseLayout pageTitle={pageTitle}>

	<h1>All About Paca :)</h1>

<img src="src/assets/ITSHIM.jpg" alt="Paca">
<style>
    img{
    max-width: 450px;
}
</style>
<h2>Hi! I'm Paca </h2>
<h2>I am a</h2>
<ul>
    {
        professions.map( job =>
            <li>{job}</li>
        )
    }
</ul>
<p> I am a versatile emerging designer who delves into game design, cyber security, and tech communication. Along with such, 
    I engage in various game jams and indie development, while also being a punk rock musician. Beyond school, I enjoy gaming,
    punk music, art, and spending time with my girlfriend. I am passionate and dedicated, fully committing to projects, from
    designing posters to building neural networks. Proficient in programming and Adobe Creative Suite, I aim to work for
    major game studios, aspiring to create my own game. My career blends artistry, tech prowess, and a drive for innovation.</p>   

</BaseLayout>