---
import BaseLayout from '../layouts/BaseLine.astro';

const pageTitle = "Paca's Blog";

const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
	
	<h1>{pageTitle}</h1>

	{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}	

</BaseLayout>