---
import BaseLayout from '../layouts/BaseLine.astro';

const pageTitle = "Homepage";
---


<BaseLayout pageTitle={pageTitle} showIntro={true}>
  <div class="cards">

     <div class="card-item" data-name="Frozen Skullie" data-desc="A college-age tattoo design">
    <img src="/assets/Portfolio/2.png" alt="Skull Sticker" >
  </div>
      <div class="card-item"  data-name="Old Soundboard" data-desc="An early soundboard concept">
    <img src="/assets/Portfolio/FrontPagey3.png" alt="Old Soundboard">
  </div>

  <div class="card-item" data-name="Mac Redux" data-desc="An Apple website recreation with Tucci flavour">
    <img src="/assets/Portfolio/macish.png" alt="Mac Recreation" >
  </div>

  <a href="/projects/project-1" class="card-item" data-name="New Yorker" data-desc="A New Yorker magazine mock up">
    <img src="/assets/Portfolio/NYMockUp.png" alt="New Yorker Mock Up" >
  </a>

  <a href="/projects/project-2" class="card-item" data-name="Evil Dead" data-desc="Low poly Evil Dead poster">
    <img src="/assets/Portfolio/EvilDeadPoster.png" alt="Evil Dead Low Poly">
  </a>

  <div class="card-item" data-name="RGB Rotor" data-desc="RGB rotor light concept">
    <img src="/assets/Portfolio/FrontPagey.png" alt="RGB Rotor Light">
  </div>

  <a href="/projects/project-6" class="card-item" data-name="Van Project" data-desc="Paca 2023 van build project">
    <img src="/assets/Portfolio/VanProj.jpg" alt="Paca 2023 Van Project" >
  </a>

  <div class="card-item" data-name="Tucciton" data-desc="An Ableton interface redux">
    <img src="/assets/Portfolio/tucciton.png" alt="Ableton Redux" >
  </div>

  <div class="card-item" data-name="Sticker Wall" data-desc="Sticker covered wallpaper">
    <img src="/assets/Portfolio/Backgroundsticker.jpg" alt="Sticker Wallpaper" >
  </div>

  <div class="card-item" data-name="Paca Anim" data-desc="A looping animation">
    <img src="/assets/Portfolio/PacaAnim.gif" alt="Paca Animation">
  </div>

  <div class="card-item" data-name="Knitting Factory Poster" data-desc="Final project, First compensated work from college!">
    <img src="/assets/Portfolio/Desn100FNL.jpg" alt="Desn100 Final" >
  </div>

  <div class="card-item" data-name="Loot Bug" data-desc="Loot Bug Low Poly Rendering">
    <img src="/assets/Portfolio/BugGang-01.jpg" alt="Bug Gang" >
  </div>

  </div>
</BaseLayout>