---
import BaseLayout from '../layouts/BaseLine.astro';

import'../styles/myStyles.css'

const pageTitle= "Homepage"
---

<BaseLayout pageTitle={pageTitle}}>

	<img src="src/assets/wizard-beer-wizard.gif" alt="">
<p>With Me and My Owls.</p>

</BaseLayout>