---
import BaseLayout from '../layouts/BaseLine.astro';

const pageTitle = "Homepage";
---


<BaseLayout pageTitle={pageTitle}>

  <div class="cards">

      <img src="/assets/Portfolio/2.png" alt="Switch Board">

      <img src="/assets/Portfolio/FrontPagey3.png" alt="Old Soundboard">

      <img src="/assets/Portfolio/macish.png" alt="An Apple Website Recreation, with Tucci Flavour">
  
      <a href="/projects/project-1">
      <img src="/assets/Portfolio/NYMockUp.png" alt="New Yorker Mock Up">
    </a>
  
    <a href="/projects/project-2">
      <img src="/assets/Portfolio/EvilDeadPoster.png" alt="Evil Dead Low Poly">
    </a>
      <img src="/assets/Portfolio/FrontPagey.png" alt="RGB Rotor Light">
    <a href="/projects/project-6">
      <img src="/assets/Portfolio/VanProj.jpg" alt="Paca 2023 Van Project">
    </a>

      <img src="/assets/Portfolio/PacaAnim.gif" alt="">

      <img src="/assets/Portfolio/Desn100FNL.jpg" alt="">

      <img src="/assets/Portfolio/2.png" alt="">

      <img src="/assets/Portfolio/BugGang-01.jpg" alt="">

      <img src="/assets/Portfolio/littleThingsSticker.png" alt="">

  </div>

  <style>
    .cards {
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
      height: 900px;
    }
    /* Added width and style */
    .cards img {
      margin: 0.625rem;
      border: 2px solid rgb(120, 26, 26); 
      box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
      max-width: 12vw;
    }





  
  </style>
</BaseLayout>