---
import BaseLayout from '../layouts/BaseLine.astro';

const pageTitle = "Portfolio";

const allProjects = await Astro.glob('../pages/projects/*.md');
---

<BaseLayout pageTitle={pageTitle}>
	
	<h1>{pageTitle}</h1>

    {allProjects.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
<style>
    body{
        padding: 25px;
    }
</style>
</BaseLayout>