---
import BaseLayout from '../layouts/PortfolioLayout.astro';

import'../styles/myStyles.css'

const pageTitle= "Portfolio"
---

<BaseLayout pageTitle={pageTitle}}>

<p>With Me and My Massive Folio.</p>

</BaseLayout>