---
import BaseLayout from '../layouts/BaseLine.astro';

const pageTitle = "Portfolio";

const allProjects = await Astro.glob('../pages/projects/*.md');
---
<style>
    @import"https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Underdog&display=swap";
</style>
<BaseLayout pageTitle={pageTitle}>
	
	<h1>{pageTitle}</h1>

    {allProjects.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}

</BaseLayout>