<footer>
<h3>- - - - - - - - - - - - - Contact Me - - - - - - - - - - - - <a href="/assets/Pdfs/TTucci Resume [WD-ATS].pdf">-</a></h3>

 <a href="https://github.com/Tucci-net">Github</a><a href="https://www.instagram.com/tucci_rock/">Instagram</a>

 </footer>