<nav>
    <a href="/" class="homeLogo">
        <img id="Logo" src="assets/Pacalogo.png" height="75px" alt="Home">
    </a>
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>  
            <a href="https://github.com/Tucci-net">
            <img id="githublogo" src="assets/github-static.png" height="35px" alt="Github"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/tucci_rock/">
            <img id="instalogo" src="assets/instagram-static.png" alt="Instagram"></a>
        </li>
    </ul>
    
  
</nav>