<nav>
    <a href="/" class="homeLogo">
        <img id="Logo" src="public/assets/Pacalogo.png" height="75px" alt="Paca Designs">
    </a>
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>  
            <a href="https://github.com/Tucci-net">
            <img id="githublogo" src="public/assets/github-static.png" height="35px" alt="Paca Github"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/tucci_rock/">Instagram</a>
        </li>
    </ul>
    
  
</nav>