<nav>
    <a href="/" class="homeLogo">
        <img id="Logo" src="assets/Pacalogo.png" height="0.625rem" alt="Paca Designs"
    </a>
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>  
            <a href="https://github.com/Tucci-net">
            <img id="githublogo" src="assets/github-static.png" height="0.625rem" alt="Paca Github"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/tucci_rock/">Instagram</a>
        </li>
    </ul>
    
  
</nav>